<head>
  <title>PiriReis Demirbaş</title>
</head>
<body>
  {% extends "layout.html" %}
  {% block body %}
  {% load crispy_forms_tags %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Giriş Yap</h3>
      <hr>
      <form method="post" >
      {% csrf_token %}
      {{form|crispy}}
        <button type="submit" class="btn btn-dark">Giriş Yap</button>
        <a style="margin-left: 30%;" class="btn btn-dark" href="register">Yeni Hesap</a>
        <a  style="margin-left: 1%;" class="btn btn-dark" href="superregister">Yeni Sayman Hesabı</a>
      <br>
      </form>
      {% if fail %}
        <div style="display-border-box; width:50%; margin-top: 5%; margin-left: 25%; margin-right: 25%;" class="alert alert-danger">
            Yanlış kullanıcı adı veya şifre
        </div>
      {% else %}
      {% endif %}
    </div>
  </div>
  {% endblock %}
</body>