<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
     {% load crispy_forms_tags %}
    <nav style =" height: 80px ; font-size: '50px' ;"  class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a style ="font-family: 'Prata', serif ; " class="navbar-brand" href="/main">Demirbaş Sorgu</a>
    </nav>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Kayıt Ol</h3>
                <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <br>
                        <button  type="submit" class=" btn btn-dark " > Kayıt Ol </button>
                    </form>
            </div>
        </div>

</body>
</html>