 <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Güncelle {{name.person}}</title>
</head>
<body>
    <nav style =" height: 80px ; font-size: '50px' ;"  class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a style ="font-family: 'Prata', serif ; " class="navbar-brand" href="/main">PiriReis Bilişim</a>
    </nav>
        <h3 style="margin-left: 8%; font-size: 35px; width: 500px;" >{{name.person}}</h3>
    <hr>
        <div>
            <a style="margin-left: 8%" class = "btn btn-dark" href = "/addData/{{name.id}}" >Demirbaş Ekle</a>
            <a style="margin-left: 2%" class = "btn btn-success" href = "/person/excel/{{name.id}}" >Excel'e Çıkart</a>
            <a style="margin-left: 61.5%" class = "btn btn-danger" href = "/delete/{{name.id}}" >Kişiyi Kaldır</a>
        </div>
    <hr>
    {% if datas %}
    <table class="table">
    <thead class="thead-dark">
        <thead class="thead-dark">
            <th scope="col">Stok</th>
            <th scope="col">Cihaz</th>
            <th scope="col">Sayı</th>
            <th scope="col">Marka</th>
            <th scope="col">Model</th>
            <th scope="col">Seri No</th>
            <th scope="col">Durumu</th>
            <th scope="col">Açıklama</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
            {% for data in datas %}
                <tr>
                    {% if data.stok %}
                    <td scope="row">{{data.stok}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}

                    {% if data.device %}
                    <td scope="row">{{data.device}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}

                    {% if data.number %}
                    <td scope="row">{{data.number}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}

                    {% if data.brand %}
                    <td scope="row">{{data.brand}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}

                    {% if data.model %}
                    <td scope="row">{{data.model}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}

                    {% if data.serial %}
                    <td scope="row">{{data.serial}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}

                    {% if data.status %}
                    <td scope="row">{{data.status}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}

                    {% if data.exp %}
                    <td scope="row">{{data.exp}}</td>
                    {% else %}
                    <td scope="row"></td>
                    {% endif %}
                    {% if name.id == 30 %}
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-mini">{{}}</button>
                            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                            </ul>
                        </div>
                    </td>
                    {% else %}
                    {% endif %}
                    <td><a href=" /object/edit/{{data.id}}" class=" btn btn-dark"> Güncelle </a></td>
                    <td><a href=" /object/delete/{{data.id}}" class="btn btn-danger"> Sil </a></td>

                </tr>
            {% endfor %}
    </table>
    {% else %}
        <div style="display-border-box; width:50%; margin-top: 5%; margin-left: 25%; margin-right: 25%;" class="alert alert-danger">
                Herhangi bir demirbaş yok.
        </div>
    {% endif %}
</body>
</html>