<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>

    <nav style =" height: 80px ; font-size: '50px' ;"  class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a style ="font-family: 'Prata', serif ; " class="navbar-brand" href="/main">PiriReis Bilişim</a>
    </nav>
    <h3 style="margin-left: 5%" >{{name.person}}</h3>

    <hr>
        <a style="margin-left: 87%" class = "btn btn-dark" href = "/addData" >Demirbaş Ekle </a>
    <hr>
{% if datas %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Stok</th>
          <th scope="col">Cihaz</th>
          <th scope="col">Adet</th>
          <th scope="col">Marka</th>
          <th scope="col">Model</th>
          <th scope="col">Seri No</th>
          <th scope="col">Durum</th>
          <th scope="col">Açıklama</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
            {% for data in datas %}
                <tr>
                    <td scope="row">{{data.stok}}</td>
                    <td scope="row">{{data.device}}</td>
                    <td scope="row">{{data.number}}</td>
                    <td scope="row">{{data.brand}}</td>
                    <td scope="row">{{data.model}}</td>
                    <td scope="row">{{data.serial}}</td>
                    <td scope="row">{{data.status}}</td>
                    <td scope="row">{{data.exp}}</td>
                    <td><a href="  " class=" btn btn-dark "> Güncelle </a></td>
                    <td><a href=" " class="btn btn-dark "> Sil </a></td>
                </tr>
            {% endfor %}
    </table>
{% else %}
        <div style="display-border-box; width:50%; margin-top: 5%; margin-left: 25%; margin-right: 25%;" class="alert alert-danger" style = "margin-top: 20px">
                herhangi bir veriniz yok.
        </div>
{% endif %}
</body>
</html>
</body>
</html>