<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>

     <nav style =" height: 80px ; font-size: '50px' ;"  class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a style ="font-family: 'Prata', serif ; " class="navbar-brand" href="/main">PiriReis Bilişim</a>
    </nav>

<h3  style="margin-left: 15%" >Kontrol Paneli</h3>
<hr>
    <a style="margin-left: 15%" class = "btn btn-dark" href = "/addData" > Veri Ekle </a>
<hr>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">stok</th>
      <th scope="col">device</th>
      <th scope="col">number</th>
      <th scope="col">brand</th>
      <th scope="col">model</th>
      <th scope="col">serial</th>
      <th scope="col">status</th>
      <th scope="col">exp</th>
      <th scope="col">person_id</th>
      <th scope="col">Güncelle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
    {% for data in datas %}
       <tr>
        <th scope="row">{{data.stok}}</th>
        <td>{{data.device}}</td>
        <td>{{data.number}}</td>
        <td>{{data.brand}}</td>
        <td>{{data.model}}</td>
        <td>{{data.serial}}</td>
        <td>{{data.status}}</td>
        <td>{{data.exp}}</td>
        <td>{{data.person_id}}</td>
        <td><a href="  " class=" btn btn-dark "> Güncelle </a></td>
        <td><a href="" class=" btn-dark "> Sil </a></td>
      </tr>

    {% endfor %}




   <tbody>

  </tbody>
</table>

</body>
</html>
</body>
</html>